{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-plusplus": "off",
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "template-curly-spacing": "off",
    "import/extensions": "off"
  }
}
